.footer_container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.icon{
    display: flex;
    flex-direction: column;
}
.link{
    display: flex;
    flex-direction: row;
}